.embla {
  margin: auto;
  --slide-height: 480px;
  --slide-spacing: 1rem;
  --slide-size: 90%;

  @media (min-width: 640px) {
    --slide-height: 520px;
  }

  @media (min-width: 768px) {
    --slide-height: 560px;
  }

  @media (min-width: 1024px) {
    --slide-height: 600px;
    --slide-size: 80%;
  }

  @media (min-width: 1280px) {
    --slide-height: 640px;
    --slide-size: 70%;
  }

  @media (min-width: 1536px) {
    --slide-height: 780px;
    --slide-size: 60%;
    --slide-spacing: 2rem;
  }
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__parallax {
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.embla__parallax__img {
  max-width: none;
  flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
  object-fit: cover;
}
